# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\tibol\Desktop\FIIW Tibo Laperre\fase 4 - master\MASTERPROEF\feasibility algorithm\feasibilityValidator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
